__pycache__
*.pyc
*.egg-info/
pip-wheel-metadata/
build/
dist/
*.swp
src/fairlens/version.py
src/_version.py

docs/_build/*
docs/savefig/*
docs/reference/_autosummary/*

notebooks/.ipynb_checkpoints

.env/

.DS_Store

.coverage
test-results/
