/** css/custom.css **/
@import 'theme.css';

@font-face {
  font-family: 'Canela';
  src:  url('Canela-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-SemiBold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-SemiBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

h1, h2, h3 {
	font-family: Canela, serif;
  font-weight: 300
}

body {
	font-family: Gilroy, serif;
}

img {
  padding-bottom: 10px;
}

pre {
  font-size: 12px !important;
}

.rst-versions {
  border-radius: 5px;
  font-family: Gilroy, serif;
  padding-bottom: 2px;
  top: 75px;
  right: 40px;
  bottom: auto;
  background: #545454;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.rst-versions .rst-current-version {
  border-radius: 5px;
  background: #545454;
  color: white;
}

span .fa.fa-book {
  padding: 10px 0;
}

.rst-versions.rst-badge {
  display: block;
  bottom: auto;
  height: auto;
}
